{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
			<a href="{{ path('produit.add') }}"> Ajouter un produit </a>
		{% endif %}

		<table>
			<caption>Recapitulatifs des aquariums</caption>
			<thead>
			<tr><th>Nom</th><th>Id</th><th>Type</th><th>Prix</th><th>Nom photo</th><th>Photo</th>
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for produit in data if data is not empty %}

				<tr>
					<td>{{aquariu.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td><td>
						{{produit.photo}}</td><td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" >
					</td>
					{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<td>
							<a href="{{ path('produit.edit', {id: produit.id}) }}">modifier</a>
							<a href="{{ path('produit.delete', {id: produit.id}) }}">supprimer</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

